/ {
	zephyr,user {
		pwms = <&pwm_left 1 20000000 PWM_POLARITY_NORMAL>,
		       <&pwm_right 1 20000000 PWM_POLARITY_NORMAL>;
		pwm-names = "left", "right";
		io-channels = <&dac1 1>;
		io-channel-names = "angle";
	};
};

&timers3 {
	st,prescaler = <107>;
	status = "okay";

	pwm_left: pwm {
		status = "okay";
		pinctrl-0 = <&tim3_ch1_pb4>;
		pinctrl-names = "default";
	};
};

&timers5 {
	st,prescaler = <107>;
	status = "okay";

	pwm_right: pwm {
		status = "okay";
		pinctrl-0 = <&tim5_ch1_pa0>;
		pinctrl-names = "default";
	};
};

&dac1 {
	status = "okay";
	pinctrl-0 = <&dac_out1_pa4>;
	pinctrl-names = "default";
	#address-cells = <1>;
	#size-cells = <0>;

	channel@1 {
		reg = <1>;
		zephyr,resolution = <12>;
		zephyr,buffered;
	};
};
